*{
    margin: 0;
    padding: 0;

}

/* font styles */

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



.raleway-normal {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* primary styles */

.display-flex{
    display: flex;
}

.styles-for-cls-div{
    align-items: center;
    text-align: center;
    border-radius: 19px;
    border: 0;
    
    
}

.orange-color{
    color: #FEA301;
}

.sky-blue-color{
    color: #01ACFD;
}

.light-blue{
    color: #05D4DF;
}

/* nav-bar styles */

.nav-bar{
   max-width: 1160px; 
   margin: 0 auto;
   text-align: center;
   align-items: center;
   padding: 20px 0 20px 0;
   
}

.nav-bar-title{
    align-items: center;
}

.manu-50{
    visibility: hidden;
}

.title{
    font-weight: 700;
    font-size: 2rem;
    
}

.nav-items{
    margin-left: 186px;
    margin-right: 186px;
}

.nav-item{
    list-style: none;
    margin-left: 32px;
    
}

.nav-link1, .nav-link2, .nav-link3, .nav-link4{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
}

.btn-primary{
    font-weight: 600;
    font-size: 1.25rem;
    color: #FFFFFF;
    background-color: #FEA301;
    padding: 10px 60.5px 10px 60.5px;
    border-radius: 12px;
    border: 0;
}

@media screen and (max-width: 576px){
    .btn-primary, .nav-items{
        visibility: hidden;
    }

    .title{
        display: none;
    }


    .nav-bar-title{
        border-bottom: 1px solid orange;
        padding-bottom: 10px;
        justify-content: space-between;
        
        
    }

    .nav-bar{
        display: block; 
        margin: 0;   
    }

    .manu-50{
       visibility: visible; 
       
    }
    
}

/* banner section styles */

.banner{
    max-width: 1160px;
    margin: 0 auto;
    align-items: center;
}

.banner-content{
    margin-right: 50px;
}

.banner-heading{
    font-weight: 700;
    font-size: 3.5rem;
}

.banner-para{
    
    font-size: 1.25rem;
}

.banner-btn{
    background-color: black;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 10px 47px;
    border-radius: 12px;
    border: 0;
    margin-top: 24px;
}

@media screen and (max-width: 576px){
    .banner{
        flex-direction: column-reverse;
        
    } 
    .banner-content{
        text-align: center;
        margin: 30px;
    }
    
}

/* main section styles */

main{
    background-image: url(/styles/assets/bg.png);
   /* classes section styles */
}

.classes{
    max-width: 1160px;
    margin: 0 auto;
}

.classes-heading{
    font-weight: 700;
    font-size: 2.875rem;
    text-align: center;
    margin-top: 60px;
}

.classes-container{
    margin-top: 80px;
    margin-bottom: 80px;
    gap: 28px;
    
}

.kinder{
    background-image: linear-gradient(#DEF5FF, #FFFFFF);
    padding-top: 52px;
}

.elementary{
    background-image: linear-gradient(#FFF4DC, #FFFFFF);
    padding-top: 52px;
}

.middle{
    background-image: linear-gradient(#F2E8FF, #FFFFFF);
    padding-top: 52px;
}
   
.class-title{
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 32px;
}

.class-vision{
    font-size: 1rem;
    margin-top: 33px;
}

.read-more1{
    color: #64C8FF;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 38px;
    border: 0;
    background-color: white;
}

.read-more2{
    color: #F0AA00;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 38px;
    border: 0;
    background-color: white;
}

.read-more3{
    color: #8700FF;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 38px;
    border: 0;
    background-color: white;
    
}

.arrow-btn{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 60px;
}

.back{
    background-color: #FEA301;
    border-radius: 50%;
}

.forward{
    background-color: #FEA301;
    border-radius: 50%; 
}

@media screen and (max-width: 576px){
    .classes-container{
        flex-direction: column;
        gap: 12px;
        padding: 12px;
    }

    .arrow-btn{
        display: none;
    }
    
}

/* Our Stories */

.stories{
background-image: linear-gradient(#FFFFFF, rgba(254, 161, 1, 0.274));

}

.stories-container{
    display:flex;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 1160px;
    margin: 0 auto;
    margin-top: 80px;
    gap: 18px;
      
}

.tow-dimension-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
   
}

.card-heading{
    font-weight: 700;
    font-size: 1.5rem;
    padding: 58px 38px 0 38px;
}

.stories-para{
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
    padding: 47px 68px 34px 38px;
}

.heading-four{
    font-weight: 700;
    font-size: 1rem;
    padding: 43px 54px 33px 37px;
}


.card-one{
    background-color: #FFFFFF;
    border-radius: 16px;
    /* width: 540px;
    height: 675px; */
    
}

.story-one-img{
    border-radius: 16px 16px 0 0;
}

.card{
    background-color: #FFFFFF;
    border-radius: 16px; 
    
}

.foru-img{
    border-radius: 16px 16px 0 0; 
}

.btn{
    color: #FFFFFF;
    background-color: #3CD8E8;
    font-weight: 500;
    font-size: 1rem;
    padding: 14px 19px 15px 19px;
    border-radius: 48px;
    border: 0;
    margin-top: -314px;
    margin-left: 38px;

}

.three-btn{
    color: #FFFFFF;
    background-color: #95B226;
    font-weight: 500;
    font-size: 1rem;
    padding: 14px 19px 15px 19px;
    border-radius: 48px;
    border: 0;
    margin-top: -314px;
    margin-left: 38px;
}

.single-btn{
    color: #FFFFFF;
    background-color: #5D58F0;
    font-weight: 500;
    font-size: 1rem;
    padding: 14px 19px 15px 19px;
    border-radius: 48px;
    border: 0;
    margin-top: -314px;
    margin-left: 38px; 
}

.view-all{
   
    text-align: center;
    padding: 90px 0 70px 0;
}

.view-all-btn{
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 10px 61px;
    border-radius: 12px;
    border: 0;
}

@media screen and (max-width: 576px){
    .card-one, .story-one-img{
        display: none;
    }

    .tow-dimension-card,{
        grid-template-columns: repeat(auto-fit, minmax(180px, 2fr));
           
    }

    .foru-img{
        width: 100%;
    }
    
}


/* footer section style */

footer{
    background-color: #01ACFD;
}

.footer-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 88px 228px 209px 140px;
}

.fast-card{
    margin-right: 172px;
}

.education-logo{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.kids-education{
    color: white;
    font-weight: 700;
    font-size: 2.55rem;
}

.kids-education-para{
    color: white;
    font-size: 1.25rem;
    
}

.about-school{
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 15px;

}

.para-four{
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 15px;
}

.Keep{
    color: white;
    font-weight: 700;
    font-size: 1.60rem;
    margin-top: 10px;
    padding-bottom: 32px;
}

@media screen and (max-width: 576px) {
    .footer-container{
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding: 20px;
    }
    
}

